
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Choisis ton flim :</h3>
			
			<div class="text-center thin">

				<table class="table table-striped">
				  	<tr>
				    	<th></th>
				    	<th>Title</th>
				    	<th>Release date</th>
				    	<th>Director</th>
				    	<th></th>
				    	<th></th>
				  	</tr>
						<% if @search_results[:results][0]==nil %>
							<div class="alert-danger" align="center" style="height: 100px; width: 300px;"> 
								<p style="padding-top: 40px;"> SORRY BUT NOTHING COULD BE FOUND</p>
							</div>
						<% else %>
							<% @search_results[:results].each do |s| %>
							<tr>
								<% if s.backdrop_path == nil %>
					    			<td align="center" style="max-width: 200px;">
					    				<p>no image</p>
					    			</td>
					    		<% else %>
						    		<td align="center" style="max-width: 200px;">
						    			<img src= <%= "https://image.tmdb.org/t/p/w500/"+s.backdrop_path.to_s %> style="max-width:25%; max-height:25%;">
						    		</td>
						    		<td style="max-width: 100px;">
							      		<%= s.title %> 		
							      	</td>
									<td> <%= s.release_date %> </td>
									<td> Movie Director</td>
								<% end %>
							</tr>
							<% end %>
						<% end %>
				</table>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	
	